.new-manga-listings {
	height: 600px;
	overflow: auto;
}

.home-msg {
	background: #27ae60;
	text-align: center;
	padding: 10px 0;
	position: relative;
	p {
		font-family: 'Arvo', serif;
		color: @clouds;
		margin-bottom: 0;
	}
	core-icon {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
		height: 15px;
		color: @clouds;
	}
}

.manga-cover-image {
	height: 312px;
	background-size: cover;
	position: relative;
	cursor: pointer;

	&:hover {
		.overlay {
			opacity: 0.9;
		}
	}

	> a {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 200;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #34495e;
		color: #fff;
		opacity: 0;
		transition: opacity 0.24s ease-in-out;
		padding: 0 15px;
		font-family: 'Arvo', serif;
		font-weight: 700;
		cursor: pointer;

		h2 {
		}
	}
}