@asphalt: #34495e;

.state-loading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: @asphalt;
	z-index: 100;

	paper-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
		transform: translateY(-50%);
	}
}

@import "home";
@import "series-info";
@import "manga-page";