<!DOCTYPE html>
<html ng-app="mangareader">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mangafox Reader</title>

    <!-- Importing Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <!-- Component Imports -->
    <link rel="import" href="bower_components/paper-spinner/paper-spinner.html">
    <link rel="import" href="bower_components/core-header-panel/core-header-panel.html">
    <link rel="import" href="bower_components/core-icons/core-icons.html">
    <link rel="import" href="bower_components/core-input/core-input.html">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet/less" href="less/main.less">

    <!-- Include LESS Library -->
    <script src="js/vendor/less.js"></script>

</head>
<body ng-controller="appController" unresolved fullbleed layout vertical>

  <div ng-show="app.loading" class="state-loading">
    <div class="blur-bg"></div>
    <img src="images/spinner.gif" />
  </div>

  <core-header-panel flex>
    <core-toolbar>
      <h1>MangaReadr</h1>
      <ul class="breadcrumbs">
        <li><a ui-sref="home">Manga</a></li>
        <li ng-if="app.selectedSeries"><a ui-sref="series({link: app.selectedSeriesLink, title: app.selectedSeries})">{{app.selectedSeries}}</a></li>
        <li ng-if="app.selectedChapter">{{app.selectedChapter}}</li>
      </ul>
      <form ng-submit="search()"><input is="core-input" ng-model="app.query" class="search-input"></form>
      <core-icon ng-click="resetSearch()" icon="clear" ng-if="app.query != ''"></core-icon>
      <core-icon icon="search"></core-icon>
      <a href="javascript:history.back()" ng-show="app.state!='home'"><core-icon icon="arrow-back"></core-icon></a>
    </core-toolbar>
    <div ui-view></div>
  </core-header-panel>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/async/lib/async.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/app-controller.js"></script>
  <script src="js/controllers/home-controller.js"></script>
  <script src="js/controllers/series-info-controller.js"></script>
  <script src="js/controllers/chapter-controller.js"></script>
  <script src="js/services/manga.js"></script>
  <script src="js/directives/releases.js"></script>
</body>
</html>