<div class="col-sm-12 content new-manga-listings" when-scrolled="loadMore()">
  <div class="row">
  	<div class="col-md-12 home-msg" ng-if="message">
  		<p>{{message}}</p>
  		<core-icon icon="clear" ng-click="removeMessage()"></core-icon>
  	</div>
    <div class="col-sm-3 manga-cover-image" ng-repeat="series in newManga" style="background-image:url(http://l.mfcdn.net/store/manga/{{series.rel}}/cover.jpg)">
      <a ui-sref="series({link: series.link, title: series.title, id: series.id})"></a>
      <div class="overlay"><h2>{{series.title}}</h2></div>
    </div>
  </div>
</div>